PM_API_URL=[your-api-url-here]
PM_API_TOKEN=[your-api-token-here]
PM_SSH_USER=[your-ssh-user-here]
PM_DEFAULT_ISO_STORAGE=[your-default-iso-storage-here]
PM_DEFAULT_VM_STORAGE=[your-default-vm-storage-here]
PM_DEFAULT_VM_BRIDGE=[your-default-vm-bridge-here]
PM_DEFAULT_VM_VLAN_TAG=[your-default-vm-vlan-tag-here]
